/*reset some default syles*/
body, h1, h2, p {
   margin: 0%;
   padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333333;

}
header{
    background-color: darkblue;
    color:#fff;
    text-align: center;
    padding: 20%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 10px;

}
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}
footer{
    text-align: center;
    text-decoration: dashed;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.socialicons{
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex, inline;
    flex-direction: column;

}